@import 'config';

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: $neutral-white;
   font-family: $barlow-font;
}

a{
    color: $neutral-white;
    text-decoration: none;
}
.container{
    background-color: white;
    margin:  0 auto;
    width:  1440px;
}


  .contact{
    @include btn($neutral-white, $font-color);
    &:hover{
            @include btn($primary-light-blue, $neutral-white);
            }
            font-family: $fraunces-font;         
}

  header {
    background-image: url("../img/desktop/image-header.jpg");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 700px;
     
    nav{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 0 30px;
    }
    ul{
        display: flex;
     
        li{
            a{
                @include btn( 'transparent',
                                $color: $neutral-white);
            
            }
      
        }
        
      }
}

.nav-label, .nav-input{
    display: none;
}

.creatives{
    text-align: center;
    margin-top: 100px;
}

.header-title{
    font-family: $fraunces-font;
    color: $neutral-white;
    letter-spacing: 0.5rem;
    margin-bottom: 100px;
}
.mobile-img{
    display: none;
}

 section{
    .section-text{
        margin: auto 160px;

    }
    display: flex;
   

    h1{
        font-family: $fraunces-font;
        font-size: 2rem;
        font-weight: 900;
        padding-bottom: 10px;
        white-space: pre-line;
    }
    p{
        color: $neutral-vdark-grayish-blue;
        line-height: 30px;
    }
 }

.graphic-design{
    background-image: url("/public/img/desktop/image-graphic-design.jpg");
    color: $primary-dark-desaturated-cyan;
    @extend .bg-values;
}
 .photography{
    background-image: url("/public/img/desktop/image-photography.jpg");
    color: $primary-dark-blue;
    @extend .bg-values;
}

article{
    background-color: $neutral-white;
    padding-bottom: 150px;
    h3{
        font-family: $fraunces-font;
        color: $neutral-grayish-blue;
        text-align: center;
        margin: 100px;
    }
}

.clients{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    img{
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 75px;
        margin-bottom: 50px;
    }
    p{
        color: $neutral-dark-grayish-blue;
        font-size: 1.3em;
        line-height: 30px;
        padding:0 50px 50px 50px;

    }
    h4{
        font-family: $fraunces-font;
        font-size: 1.3em;
        padding-bottom: 15px;
    }
    small{
        color: $neutral-grayish-blue;
        font-size: 1em;
    }
}


footer{
     background-color: $primary-dark-moderate-blue;
    text-align: center;
    padding-bottom: 20px;
    
   ul{
     display: flex;
     justify-content: center;
     a{
        color: $primary-dark-desaturated-cyan;
        padding: 10px 20px 30px;
        &:hover{
         color:$neutral-white;   
        }
     }

    }
}

.footer-logo{
        filter: invert(37%) sepia(6%) saturate(4550%) hue-rotate(118deg) brightness(74%) contrast(72%);
        margin: 30px 0 30px 0;
}

.footer-imgs{
    display: flex;
    img{
        width: 360px;
    }
}

.footer-mobile-imgs{
    display: none;
}

.social{
    padding: 50px 0;
    a:hover{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(200%) contrast(103%);   
           } 
           
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@import 'medios';